.basic {
  font-family: 'Inter', sans-serif;
  padding: 0.5em 0.9em;
  font-size: 1rem;
  color: var(--teal1);
  background-color: var(--teal9);
  border: none;
  cursor: pointer;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
}

.basic:hover,
.basic:focus {
  color: var(--teal1);
  background-color: hsl(166 73% 93.1%);
}

@media only screen and (max-width: 720px) {
  .basic {
    font-size: 1.2rem;
    padding: 0.3em 0.6em;
  }
}
