.basic {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #f4e04d;
  font-size: 1.2rem;
  width: fit-content;
  cursor: pointer;
  position: relative;
}

.basic > input {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.basic > input:focus + span {
  outline-offset: 2px;
  outline: 2px solid #d4e4bc;
}

.basic > input:enabled:hover + span {
  outline-offset: 2px;
  outline: 2px solid #d4e4bc;
}

.basic > input:disabled:hover {
  cursor: not-allowed;
}

.basic > input:checked + span {
  background-color: #d4e4bc;
  color: black;
}

@media only screen and (max-width: 720px) {
  .basic {
    font-size: 0.92rem;
  }
}
