.container {
  margin: 3rem 0rem 1rem 3rem;
  display: grid;
  row-gap: 2rem;
}

.questionList {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #f4e04d;
  font-size: 1.25rem;
  display: grid;
  row-gap: 1rem;
  margin-left: 2rem;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  column-gap: 3rem;
}

.attribute {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #efbcd5;
  font-size: 1.1rem;
  text-align: right;
}

.difficulty {
  composes: attribute;
}

.type {
  composes: attribute;
}

.test {
  display: flex;
}

.headerContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  margin-right: 2rem;
}

.headerContainer > header {
  grid-row: 1 / -1;
}

.form {
  display: grid;
  row-gap: 2rem;
}

@media only screen and (max-width: 720px) {
  .container {
    margin: 3rem 1.5rem 1.5rem 1.5rem;
  }

  .headerContainer {
    margin-right: 0;
  }

  .headerContainer > header {
    grid-column: 1 / -1;
  }

  .attribute {
    font-size: 0.9rem;
    justify-self: start;
  }

  .form ::marker {
    font-size: 0.9rem;
  }

  .form input[type='reset'],
  .form input[type='submit'] {
    font-size: 0.9rem;
  }

  .submit {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    margin: 0;
  }
}
