.basic {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}

.toast {
  composes: basic;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  padding: 0.3em 1em;
  background-color: #f25757;
  width: fit-content;
  border-radius: 5px;
  will-change: opacity;
  animation: fromBottom 1 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fromBottom {
  0% {
    bottom: 0;
    opacity: 0;
  }
  50% {
    bottom: 2rem;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}
